In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import time
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("LoanApprovalPrediction.csv")

In [3]:
dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,LP002978,Female,No,0.0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
594,LP002979,Male,Yes,3.0,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
595,LP002983,Male,Yes,1.0,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
596,LP002984,Male,Yes,2.0,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
597,LP002990,Female,No,0.0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
for columnName in dataset.columns:
    if(dataset[columnName].dtype=='O'):
        print(columnName)
        print(dataset[columnName].value_counts())

Loan_ID
LP001186    1
LP001398    1
LP001027    1
LP002231    1
LP001947    1
           ..
LP001213    1
LP002489    1
LP001469    1
LP002931    1
LP001671    1
Name: Loan_ID, Length: 598, dtype: int64
Gender
Male      487
Female    111
Name: Gender, dtype: int64
Married
Yes    388
No     210
Name: Married, dtype: int64
Education
Graduate        465
Not Graduate    133
Name: Education, dtype: int64
Self_Employed
No     488
Yes    110
Name: Self_Employed, dtype: int64
Property_Area
Semiurban    225
Urban        198
Rural        175
Name: Property_Area, dtype: int64
Loan_Status
Y    411
N    187
Name: Loan_Status, dtype: int64

In [5]:
#converting categorical data to numerical data

In [6]:
dataset.Gender=dataset.Gender.replace({"Male" : 1,"Female":0})
dataset.Married=dataset.Married.replace({"Yes" : 1,"No":0})
dataset.Education=dataset.Education.replace({"Graduate" : 1,"Not Graduate":0})
dataset.Self_Employed=dataset.Self_Employed.replace({"Yes" : 1,"No":0})
dataset.Loan_Status=dataset.Loan_Status.replace({"Y":1,"N":0})

In [7]:
dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0.0,1,0,5849,0.0,NaN,360.0,1.0,Urban,1
1,LP001003,1,1,1.0,1,0,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,1,1,0.0,1,1,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,1,1,0.0,0,0,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,1,0,0.0,1,0,6000,0.0,141.0,360.0,1.0,Urban,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,LP002978,0,0,0.0,1,0,2900,0.0,71.0,360.0,1.0,Rural,1
594,LP002979,1,1,3.0,1,0,4106,0.0,40.0,180.0,1.0,Rural,1
595,LP002983,1,1,1.0,1,0,8072,240.0,253.0,360.0,1.0,Urban,1
596,LP002984,1,1,2.0,1,0,7583,0.0,187.0,360.0,1.0,Urban,1
597,LP002990,0,0,0.0,1,1,4583,0.0,133.0,360.0,0.0,Semiurban,0

In [8]:
#using labelencoder property area classfiied into 3

In [9]:
from sklearn.preprocessing import LabelEncoder
for Property_Area in dataset.columns:
    le =LabelEncoder()
    dataset['Property_Area']=le.fit_transform(dataset['Property_Area'])

In [10]:
#checking null values present or not

In [11]:
dataset.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           12
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [12]:
#null values are replaced by mean of their respective columns

In [13]:
dataset["Dependents"].fillna(dataset["Dependents"].mean(),inplace=True)
dataset["LoanAmount"].fillna(dataset["LoanAmount"].mean(),inplace=True)
dataset["Loan_Amount_Term"].fillna(dataset["Loan_Amount_Term"].mean(),inplace=True)
dataset["Credit_History"].fillna(dataset["Credit_History"].mean(),inplace=True)

In [14]:
dataset.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [15]:
#assigning dependent & independent

In [16]:
indep_X=dataset[['Credit_History','ApplicantIncome',]]

In [17]:
dep_Y=dataset[['Loan_Status']]

In [ ]:
#splitting the data for train and test

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep_X,dep_Y,test_size=1/4,random_state=1)

In [19]:
print(x_train)

     Credit_History  ApplicantIncome
589             1.0             2400
68              0.0             4300
546             1.0             4180
4               1.0             6000
187             1.0             6033
..              ...              ...
129             1.0             2718
144             1.0             1538
72              0.0             4755
235             1.0             2510
37              1.0             4166

[448 rows x 2 columns]

In [20]:
dataset.shape

(598, 13)

In [21]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [57]:
from sklearn.svm import SVC  
clf = SVC(kernel='linear') 
clf.fit(x_train,y_train)

C:\Users\admin\Anaconda3\envs\MLClustering\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [58]:
regco=clf.coef_

In [59]:
regco

array([[6.94793001e-01, 7.96888832e-05]])

In [60]:
regin=clf.intercept_

In [61]:
regin

array([0.6895844])

In [62]:
y_pred=clf.predict(x_test)

In [63]:
y_pred

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0], dtype=int64)

In [56]:
score

0.7991071428571429

In [ ]:
from sklearn.metrics import classification_report
clf=classification_report(y_test,y_pred)